@using SharpCMS.UI.Mvc.Models.Pages
@model PageDisplayModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
    {
        <div class="editmenu-underlayer"></div>
        <div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "article", new {type = "page", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a id="delete-button" href="@Url.Action("delete", "article", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "page", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_article">Статьи</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "announcement", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_announcement">Акции</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "vacancy", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_vacancy">Вакансии</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "idea", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_idea">Идеи</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "news", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_news">Новости</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "company", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_company">Организации</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление раздела</span>
                </li>
            </ul>
        </div>
    }
}
<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common", new {id = Model.Id})
</div>
<div class="right-page-content">
    @Html.Action("Display", "Article", new { id = Model.Id })
</div>
