@using SharpCMS.UI.Mvc.Models.Announcements
@model AnnouncementDisplayModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
    {
        <div class="editmenu-underlayer"></div>
        <div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "Announcement", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("delete", "Announcement", new {id = Model.Id})" id="delete-button" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
            </ul>
        </div>
    }
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")
    <div class="announcement-properties">
        <span class="item-details-label">Место проведения:</span>
        <span class="item-details-property">@Html.DisplayTextFor(m => m.Venue)</span>
        <span class="item-details-label">Время начала:</span>
        <span class="item-details-property">@Html.DisplayTextFor(m => m.Time)</span>
        <span class="item-details-label">Организатор:</span>
        <span class="item-details-property">@Html.DisplayTextFor(m => m.Organizer)</span>        
        <span class="item-details-label">Контактная информация:</span>
        <span class="item-details-property">@Html.DisplayTextFor(m => m.Contact)</span>
    </div>
</div>
<div class="right-page-content">
    <div class="announcement-content">
        <h1>@Html.DisplayTextFor(m => m.Title)</h1>
        <span class="announcement-date">@Html.DisplayTextFor(m => m.Date)</span>
        @Html.DisplayTextFor(m => m.Text)
    </div>
</div>