@using SharpCMS.BusinessLogic.Views
@model SharpCMS.UI.Mvc.Models.Announcements.AnnouncementListModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel
{
	@if (User.IsInRole("Administrators"))
	{
		<div class="editmenu-underlayer"></div>
		<div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "article", new {type = "announcement", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a id="delete-button" href="@Url.Action("delete", "article", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "announcement", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_announcement">Акции</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление разделов</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a  href="@Url.Action("create", "announcement", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_element">Акция</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление содержимого</span>
                </li>
            </ul>
		</div>
	}
}

<div class="left-page-content">
	@Html.Action("DisplaySideMenu", "Common")
</div>
<div class="right-page-content">
	@Html.Action("Display", "Article")
	<div class="announcements">
		@if (Model.Announcements.Any())
		{
			<ul class="announcement-list">
				@foreach (AnnouncementView announcement in Model.Announcements)
				{
					<li class="announcement-list-item">
						<span class="announcement-date">
							@(announcement.StartingDate == announcement.ExpiryDate
					       	? announcement.StartingDate.ToString("dd MMMM yyyy")
					       	: announcement.StartingDate.ToString("dd MMMM yyyy") + " - " + announcement.ExpiryDate.ToString("dd MMMM yyyy"))
						</span>
						<h4 class="announcement-header">
							<a href="@Url.Action("display", "announcement", new {id = announcement.Id})">@Html.Raw(announcement.Title)</a>
							@if (!announcement.IsActive)
							{
								<span class="item-activity">откл.</span>
							}
						</h4>
						<p>@Html.Raw(announcement.Abstract)</p>
					</li>
				}
			</ul>
		}
		else
		{
			<span class="empty-list">Нет ни одной новой акции.</span>
		}
	</div>
</div>