@using SharpCMS.UI.Mvc.Models.News
@model NewsListModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
	{
		<div class="editmenu-underlayer"></div>
		<div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "article", new {type = "news", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a id="delete-button" href="@Url.Action("delete", "article", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "news", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_idea">Новости</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление разделов</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "news", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_element">Новость</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление содержимого</span>
                </li>
            </ul>
		</div>
	}
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")
</div>
<div class="right-page-content">
    @Html.Action("Display", "Article")
    <div class="news">	
        @if (Model.News.Any())
		{
            <ul class="news-list">
                @foreach (var newsItem in Model.News)
                {
                    <li class="news-list-item">
                        <span class="news-date">@newsItem.PublishedDate.ToShortDateString()</span>
                        <h4 class="news-header"><a href="@Url.Action("display", "news", new { id = newsItem.Id })">@Html.Raw(newsItem.Title)</a></h4>
                        <p>@Html.Raw(newsItem.Abstract)</p>
                    </li>
                }
            </ul>
		}
		else
		{
            <span class="empty-list">Нет ни одной новости.</span>
		}
    </div>
</div>
