@using SharpCMS.UI.Mvc.Models.Vacancies
@model VacancyListModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
	{
		<div class="editmenu-underlayer"></div>
		<div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "article", new {type = "vacancy", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a id="delete-button" href="@Url.Action("delete", "article", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "vacancy", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_idea">Вакансии</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление разделов</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "vacancy", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_element">Вакансия</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление содержимого</span>
                </li>
            </ul>
		</div>
	}
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")
</div>

<div class="right-page-content">
    @Html.Action("Display", "Article")
    <div class="vacancies">
        @if (Model.Vacancies.Any())
		{
            <ul class="vacancy-list">
                @foreach (var vacancy in Model.Vacancies)
				{
                    <li class="vacancy-list-item">
                        <h4 class="vacancy-header">
                            @Html.ActionLink(vacancy.Title, "display", "vacancy", new { id = vacancy.Id }, null)
                            @if (!vacancy.IsActive)
							{
                                <span class="item-activity">откл.</span>
							}
                        </h4>
                        <p>@Html.Raw(vacancy.Employer), <span class="vacancy-date">@Html.Raw(vacancy.Created.ToString("dd MMMM yyyy"))</span></p>
                    </li>
				}
            </ul>
		}
		else
		{
            <span class="empty-list">Нет ни одной открытой вакансии.</span>
		}
    </div>
</div>