@using SharpCMS.UI.Mvc.Models.Ideas
@model IdeaDisplayModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
    {
        <div class="editmenu-underlayer"></div>
        <div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "idea", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("delete", "idea", new {id = Model.Id})" id="delete-button" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
            </ul>
        </div>
    }
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")
</div>
<div class="right-page-content">
    <div class="idea-content">
        <h1>@Html.Raw(Model.Title)</h1>
        @Html.Raw(Model.Text)
        <div class="idea-info">
            <span class="idea-created">@Html.Raw(Model.Created.ToString("dd MMMM yyyy, HH:mm"))</span>
            <span class="idea-author" title="автор идеи">@Html.Raw(Model.CreatedBy)</span>
        </div>
    </div>
    <div class="comments">
        <h2>
            комментарии</h2>
        @using (Ajax.BeginForm("Create", "Comment", new { id = ViewContext.RouteData.Values["id"] },
                                          new AjaxOptions { UpdateTargetId = "create-comment-form" }))
        {
            <div id="create-comment-form">
                @Html.Action("List", "Comment")
            </div>
        }
    </div>
</div>