@using SharpCMS.BusinessLogic.Views
@using SharpCMS.UI.Mvc.Models.Ideas
@model IdeaListModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}

@section AdminPanel{
    @if (User.IsInRole("Administrators"))
	{
		<div class="editmenu-underlayer"></div>
		<div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "article", new {type = "idea", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a id="delete-button" href="@Url.Action("delete", "article", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "article", new {type = "idea", id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_idea">Идеи</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление разделов</span>
                </li>
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("create", "idea", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_element">Идея</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Добавление содержимого</span>
                </li>
            </ul>
		</div>
	}
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")    
    <div class="idea-add">
        <a href="@Url.Action("propose", "idea", new { id = ViewContext.RouteData.Values["id"] })" class="idea-add-new">
            Добавить идею
        </a>
    </div>
</div>
<div class="right-page-content">
    @Html.Action("Display", "Article")
    <div class="ideas">
        @if (Model.Ideas.Any())
		{
            <ul class="ideas-list">
                @foreach (IdeaView idea in Model.Ideas)
				{
                    <li class="idea-list-item">
                        <h4 class="idea-header">							
							<a href="@Url.Action("display", new { id = idea.Id })">@Html.Raw(idea.Title)</a>
                            @if (!idea.IsActive)
							{
                                <span class="item-activity">откл.</span>
							}
                        </h4>
                        <p>@Html.Raw(idea.Abstract)</p>
                        <div class="idea-info">
                            <span class="idea-created">@Html.Raw(idea.Created.ToString("dd MMMM yyyy, HH:mm"))</span>
                            <span class="idea-author" title="автор идеи">@Html.Raw(idea.CreatedBy)</span>
                        </div>
                    </li>
				}
            </ul>
		}
		else
		{
            <span class="empty-list">Нет ни одной новой идеи.</span>
		}
    </div>
</div>