@using SharpCMS.UI.Mvc.Models.Companies
@model CompanyDisplayModel

@section HeaderContent
{
    <script>
        $(function () {
            $('#delete-button').click(function () {
                return confirm('Вы действительно хотите безвозвратно удалить этот элемент?');
            });
        });
    </script>
}
           
@section AdminPanel{
    @if (User.IsInRole("Administrators"))
    {
        <div class="editmenu-underlayer"></div>
        <div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="@Url.Action("edit", "company", new {id = Model.Id})" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Изменить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Url.Action("delete", "company", new {id = Model.Id})" id="delete-button" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_delete">Удалить</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
            </ul>
        </div>
    }
}

<div class="left-page-content">
    @Html.Action("DisplaySideMenu", "Common")
    <div class="organization-properties">
        <img class="organization-logo" src="@Model.LogoUrl" alt="@Html.Raw(Model.Title)" title="@Html.Raw(Model.Title)"/>
        <span class="item-details-label">Адрес:</span>
        <span class="item-details-property">@Model.Address</span>
        <span class="item-details-label">Телефон:</span>
        <span class="item-details-property">@Model.Phone</span>
        <span class="item-details-label">E-mail:</span>
        <span class="item-details-property">
            <a href="@("mailto:" + Model.Email)">@Model.Email</a>
        </span>
        <span class="item-details-label">Веб-сайт:</span>
        <span class="item-details-property">
            <a href="@("http://" + Model.Hyperlink)" target="_blank">@Model.Hyperlink</a>
        </span>
    </div>
</div>
<div class="right-page-content">
    <div class="organization-content">
        <h1>@Html.Raw(Model.Title)</h1>
        @Html.Raw(Model.Text)
    </div>
</div>