@model SharpCMS.UI.Mvc.Models.Companies.CompanyEditModel

@section HeaderContent{
	<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"> </script>
	<script src="@Url.Content("~/Scripts/ckfinder/ckfinder.js")" type="text/javascript"> </script>
	<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"> </script>
	<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"> </script>
	<script src="@Url.Content("~/Scripts/fileuploader-jquery.js")" type="text/javascript"> </script>
    <script>
        var saveCompany = function() {
            $("#edit-company-form").submit();
            return false;
        };

        var onSubmit = function(file, extension) {
            $("#file-loading").removeAttr("style");
        };

        var onCompleted = function(id, file, responseJson) {
            $("#LogoUrl").val(responseJson.imageUrl);
            $("#logo-preview").attr("src", responseJson.imageUrl);
            $("#file-loading").attr("style", "display:none;");
        };
    </script>
    <script>
        $(function() {
            $("#Text").ckeditor();
			$("#submit-button").click(saveCompany);
			$('#file-uploader').fileuploader('@Url.Action("Upload")', onSubmit, onCompleted);
        })
    </script>
}

@section AdminPanel{
	@if (User.IsInRole("Administrators"))
	{
		<div class="editmenu-underlayer"></div>
		<div class="editmenu-bar">
            <ul class="editmenu-group-list">
                <li class="editor-menu-group">
                    <ul class="editmenu-list">
                        <li class="editmenu-item">
                            <a href="#" id="submit-button" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Сохранить</span>
                                </span>
                            </a>
                        </li>
                        <li class="editmenu-item">
                            <a href="@Model.CurrentUrl" class="editmenu-button">
                                <span>
                                    <span class="editmenu-button-content _m_editmenu-button-content_edit">Отмена</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <span class="editmenu-group-title">Страница</span>
                </li>
            </ul>
		</div>
	}
}

<div class="left-page-content"></div>
<div class="right-page-content">
	@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new {id = "edit-company-form"}))
	{
		<div class="item-details">
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Title)</span>
				@Html.TextBoxFor(m => m.Title, new {maxlength = "200", style = "width: 400px;"})
				@Html.ValidationMessageFor(m => m.Title, null, new {@class = "item-details-error"})
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Abstract)</span>
				@Html.TextAreaFor(m => m.Abstract, new {rows = "5", style = "width: 400px;"})
				@Html.ValidationMessageFor(m => m.Abstract, null, new {@class = "item-details-error"})
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Text)</span>
				@Html.TextAreaFor(m => m.Text)
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Address)</span>
				@Html.TextBoxFor(m => m.Address, new {maxlength = "200", style = "width: 400px;"})
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Email)</span>
				@Html.TextBoxFor(m => m.Email, new {maxlength = "200", style = "width: 400px;"})
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.Hyperlink)</span>
				@Html.TextBoxFor(m => m.Hyperlink, new {maxlength = "200", style = "width: 400px;"})
				<span class="item-details-sublabel">Например, www.example.com</span>
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.LogoUrl)</span>
				@Html.HiddenFor(m => m.LogoUrl)
				<img id="logo-preview" src="@Model.LogoUrl" style="float: left" />
				<div id="upload-wrapper" class="upload-wrapper">
					<div id="file-uploader" class="file-uploader"><span class="file-upload-button">Сменить логотип</span></div>
					<div id="file-loading" class="file-loading" style="display: none;"><span>Загрузка</span></div>
				</div>
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.PhoneNumber)</span>
				@Html.TextBoxFor(m => m.PhoneNumber, new {maxlength = "200", style = "width: 400px;"})
			</div>
			<div class="item-details-property">
				@Html.CheckBoxFor(m => m.IsActive)
				@Html.LabelFor(m => m.IsActive)
			</div>
			<div class="item-details-property">
				<span class="item-details-label">@Html.LabelFor(m => m.SortOrder)</span>
				@Html.TextBoxFor(m => m.SortOrder, new {style = "width: 400px;"})
				<span class="item-details-sublabel">Целое число в диапазоне от 1 до 1000</span>					
				@Html.ValidationMessageFor(m => m.SortOrder, null, new {@class = "item-details-error"})
			</div>
			<div class="item-details-property">
				@Html.CheckBoxFor(m => m.DisplayOnMainMenu)
				@Html.LabelFor(m => m.DisplayOnMainMenu)
			</div>
			<div class="item-details-property">
				@Html.CheckBoxFor(m => m.DisplayOnSideMenu, new {disabled = "disabled"})
				@Html.LabelFor(m => m.DisplayOnSideMenu)
			</div>
		</div>
	}
</div>